@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand&family=Roboto+Slab&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  /* color: #d2daff; */
}

body {
  background: #d2daff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
}

.section {
  height: 500px;
  width: 600px;
}

.col {
  background-color: #aac4ff;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.439);
  padding: 5px;
  border: 2px solid #d2daff;
  margin: 5px;
}

/* .arrange{
/* border: 1px solid black; */
/* display: flex; */
/* justify-content: space-between; */
/* width: 200px; */
/* } */ 

.box {
  display: inline-block;
  padding: 0px 11px;
}

input {
  /* 1px solid #d2daff */
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 3px;
  font-family: "Roboto Slab", serif;
  background-color: #aac4ff;
}

button {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 3px;
  font-family: "Roboto Slab", serif;
  background-color: #aac4ff;
}

button:hover{
  background-color: #d2daff;
}
 
ul{
  list-style: none;
  padding: 10px;
  width: 210px;
}



.div1{
  border: 1px solid black;
  position: relative;
  left: 20px;
}
